.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #DFDFDF;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
