.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 4px 0;
  border-bottom: 1px solid #DFDFDF;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginBtn,
.registerBtn {
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
}

.loginBtn {
  margin-right: 10px;
  background-color: #5f8de7;
}

.registerBtn {
  border: 1px solid #5f8de7;
  color: #5f8de7;
}

.panel {
  display: flex;
  align-items: center;
}

.write {
  margin-right: 15px;

  &:hover svg {
    fill: #3d58d9;
  }

  svg {
    width: 30px;
    height: 30px;
    fill: #5C6ECE;
  }
}
