.wrapper {
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e7e8ec, 0 0 0 1px #e7e8ec;
  border-radius: 4px;
  padding: 20px 30px;
  min-height: 340px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.goBack {
  padding: 4px 10px;
  background-color: #3486d2;
  color: #fff;
  border-radius: 4px;
}

.title {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
