.wrapper {
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e7e8ec, 0 0 0 1px #e7e8ec;
  border-radius: 4px;
  padding: 20px;
  border-bottom: 5px solid rgb(101, 126, 255);
}

.title {
  font-size: 20px;
  margin-bottom: 14px;
}

.list {
  display: flex;
  flex-direction: column;
}

.item:nth-child(even) .link {
  background-color: #f1f8ff;

  &:hover {
    background-color: #b3d7ff;
  }
}

.link {
  display: block;
  width: 100%;
  border-top: 1px solid #e7e8ec;
  padding: 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .1s;

  &:hover {
    background-color: #cde2ff;
  }
}
