.wrapper {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #e7e8ec, 0 0 0 1px #e7e8ec;
  padding: 30px;
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
}
