.page {
  padding-top: 100px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.user {
  width: 300px;
  min-height: 340px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e7e8ec, 0 0 0 1px #e7e8ec;
  border-radius: 4px;
  margin-right: 20px;
  flex-shrink: 0;
}

.link {
  display: block;
}

.fullname {
  margin: 10px 0 10px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}

.username {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #5C6ECE;
  margin-top: 2px;
}

.followBtn {
  background: #657EFF;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 8px 0;
  width: 100%;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 500;
}

.followersWrapper {
  margin-top: 10px;
  display: flex;

  a {
    font-weight: 500;
    color: #686868;
  }
}

.followersLink {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.children {
  width: 100%;
}
