.text {
  text-align: center;
  margin-bottom: 20px;
}

.item {
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2px;
}

.value {
  font-weight: 700;
  font-size: 18px;
}
