.button {
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.1px;
  font-weight: 400;
  transition: background-color .2s, color .2s;

  &:active {
    transform: translateY(1px);
  }
}
