.page {
  padding-top: 100px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.main {
  background-color: #fff;
  width: 100%;
  margin-right: 30px;
}

.aside {
  width: 100%;
  max-width: 230px;
  background-color: #fff;
}
