.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #EAEAEA;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 500;
}

.wrapper {
  padding-top: 15px;
  display: flex;
}
