.post {
  display: block;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 1px 0 0 #e7e8ec, 0 0 0 1px #e7e8ec;
  border-radius: 4px;
  margin-bottom: 25px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6671DB;
  margin-right: 8px;
}

.time {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #838383;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #2E2E2E;
  margin-top: 12px;
}

.categories {
  display: flex;
  margin-top: 8px;
}

.category:not(:last-child) {
  margin-right: 8px;
}

.categoryLink {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #9D9D9D;
}

.img {
  display: flex;
  margin-top: 16px;
  height: 280px;
  object-fit: cover;
  width: 100%;
}

.text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #3C3C3C;
}

.short {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.link {
  border: 1px solid #3A64FA;
  border-radius: 2px;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #6C8CFF;
}

.panel {
  padding: 6px 10px;
  border: 1px solid #3A64FA;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.panelItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3F55A4;
}

.panelItem:not(:last-child) {
  margin-right: 18px;
}

.panelIcon {
  margin-right: 3px;
}
