.wrapper {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding: 15px;
  width: calc(100% / 12 * 6 - 20px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
}

.fullname {
  margin-bottom: 4px;
}

.username {
  font-size: 12px;
  line-height: 14px;
  color: #597DFF;
  font-weight: 500;
}

.follow {
  padding: 3px 6px;
  border: 1px solid #D8D8D8;
  background-color: #5C6ECE;
  border-radius: 4px;

  svg {
    fill: #fff;
  }
}

.followActive {
  background-color: transparent;

  svg {
    fill: #6c6c6c;
  }
}
