.wrapper {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e7e8ec, 0 0 0 1px #e7e8ec;
  border-radius: 4px;
  padding: 50px 60px;
}

.inputWrapper {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  margin-top: 20px;
}

.inputTitle {
  display: block;
  width: 100%;
  padding: 20px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  border-radius: 4px;
  border: 0;
}

.textarea {
  font-size: 16px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  display: block;
  width: 100%;
  min-height: 300px;
  resize: vertical;
  border-radius: 4px;
  border: 1px solid #dedede;
}

$red: #ff7e7e;

.inputError {
  border: 1px solid $red;

  &::placeholder {
    color: $red;
  }
}

.errorMessage {
  color: $red;
  position: absolute;
  right: 0;
  bottom: 0;
}
