.post {
  display: block;
  background-color: #fff;
  padding: 25px 30px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.head {
  display: flex;
  align-items: center;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 8px;
}

.username {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6671DB;
  margin-right: 8px;
}

.time {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #838383;
}
