.wrapper {
  position: relative;
}

.name {
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
}

.arrow {
  width: 8px;
  margin-left: 10px;
}

.btn {
  background-color: transparent;
  display: flex;
  border: none;
  align-items: center;
}

.popup {
  display: none;
  position: absolute;
  z-index: 100;
  top: 54px;
  right: 0;
  background-color: #fff;
  width: 230px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgb(0 0 0 / 20%);
  overflow: hidden;
}

.show {
  display: block;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border: none;
  text-align: left;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #4e4e4e;
  font-family: inherit;
  transition: background-color .1s, color .1s;

  &:hover {
    background-color: #5f8de7;
    color: #fff;

    .svg {
      fill: #fff;
    }
  }
}

.svg {
  width: 16px;
  height: 16px;
  fill: #6388bb;
  margin-right: 10px;
  transition: fill .1s;
}
