.alert {
  padding: 15px 20px;
  display: block;
  background-color: transparent;
  color: #575757;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #5f8de7;
}

.link {
  color: #5f8de7;
  font-weight: 700;
}
