.page {
  padding-top: 100px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.main {
  width: 100%;
  margin: 0 20px;
}

.left {
  width: 100%;
  max-width: 230px;
}

.right {
  max-width: 290px;
  width: 100%;
}

.link {
  display: block;
}
